* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: "Fredoka One", cursive;
}

body {
  font-size: 2rem;
  max-width: 80rem;
  margin: auto;
}

.accordion-header {
  font-size: 3rem;
  margin: 2rem 0;
  align-self: flex-start;
  padding: 0 2rem;
}

.accordion {
  color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.accordion:hover {
  color: black;
}

.memes-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 0.2rem solid rgba(0, 0, 0, 0.3);
}

.accordion:hover .meme-header .meme-icon {
  visibility: visible;
}

.meme-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.memes-item:hover > .content .image {
  height: 30rem;
  width: 30rem;
}
.memes-item:hover > .content {
  height: 32rem;
  width: 32rem;
}

.memes-item:hover .meme-header .meme-icon img {
  transform: rotate(-45deg);
}

.meme-input {
  appearance: none;
  display: none;
}

.meme-icon {
  width: 1.5rem;
  visibility: hidden;
}

.meme-icon img {
  width: 100%;
  height: 100%;
}

.content {
  height: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}

.image {
  width: 0;
  height: 0;
  transition: all 0.3s;
}

.memes-item:has(.meme-input:checked) .content .image {
  height: 30rem;
  width: 30rem;
}
.memes-item:has(.meme-input:checked) .content {
  height: 32rem;
  width: 32rem;
}
.memes-item:has(.meme-input:checked) {
  color: black;
}
.memes-item:has(.meme-input:checked) .meme-header .meme-icon img {
  transform: rotate(-45deg);
}

/* 
.memes-item:hover .content .image {
  height: 10rem;
  width: 10rem;
} */
