* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}

body {
  max-width: 40rem;
  margin: auto;
}

.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 39rem;
}

.memes-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meme-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.meme-input {
  appearance: none;
  display: none;
}

.meme-icon img {
  width: 1rem;
}

.content {
  height: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}

.image {
  width: 0;
  height: 0;
  transition: all 0.2s;
}

.memes-item:has(.meme-input:checked) .content .image {
  height: 10rem;
  width: 10rem;
}
.memes-item:has(.meme-input:checked) .content {
  height: 12rem;
  width: 12rem;
}
/* 
.memes-item:hover .content .image {
  height: 10rem;
  width: 10rem;
} */
